<p id="notice"><%= notice %></p>

<h1>Fellowships</h1>
<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @fellowships) do |date, fellowships| %>
  <%= date.day %>

  <% fellowships.each do |fellowship| %>
    <div>
      <%= link_to "#{fellowship.start_time.strftime('%l:%M%P')} - #{fellowship.name}", fellowship %>
    </div>
  <% end %>
<% end %>
