<td>
  <%= check_box_tag 'attendees[]', '', true, disabled: true %>
</td>
<td>
  <%= select_tag 'additional_attendees[]', options_from_collection_for_select(@users, 'id', 'preferred_full_name'), include_blank: true, class: 'form-control additional-attendees', disabled: true %>
</td>
<td>
  <%= text_field_tag 'attendees_points[]', '', class: 'form-control service-project-points attendees-number-field', disabled: true %>
  <span hidden>Please enter a number</span>
</td>
<td><span class="glyphicon glyphicon-remove remove-row"></span></td>

