<p id="notice"><%= notice %></p>

<h1>Service Projects</h1>
<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @service_projects) do |date, service_projects| %>
  <%= date.day %>

  <% service_projects.each do |service_project| %>
    <div>
      <%= link_to "#{service_project.start_time.strftime('%l:%M%P')} - #{service_project.name}", service_project %>
    </div>
  <% end %>
<% end %>
